<div class="container-fluid login-fluid clear-left clear-right">
	<div class="login-container">
		<!-- login header -->

		<!-- (end) login header -->

		<div class="clearfix"></div>

		<div class="padding-top-90"></div>
		
		<!-- login main -->
		<div class="login-main">
			<div class="w-login m-auto">
				<div class="row">
					<!-- login main descriptions -->
					<div class="col-md-6 col-sm-12 col-12 login-main-left">
						<img src="assets/img/banner-login.png">
					</div>
					<!-- login main form -->
					<div class="col-md-6 col-sm-12 col-12 login-main-right">
						
						<form class="login-form reg-form" >
							<div class="login-main-header">
								<h3>Đăng ký</h3>
							</div>
							<div class="form-group"[formGroup]="registeruserForm">
						<div class="input-div one">
							
		           		   <div class="div lg-lable">
		           		   
		           		   		<input type="text"  [ngClass]="{'is-invalid':registeruserForm.get('name')?.touched && registeruserForm.get('name')?.invalid}" formControlName="username" id="name"  class="input form-control-lgin" placeholder="Enter name"  >
		           		   </div>
		           		</div></div>
						  <div class="input-div one">
		           		   <div class="div lg-lable">
		           		   		
		           		   		<input type="text"  [ngClass]="{'is-invalid':registeruserForm.get('email')?.touched && registeruserForm.get('email')?.invalid}" formControlName="email" class="input form-control-lgin" id="email"  placeholder="Enter Email">
		           		   </div>
		           		</div>
		           		<div class="input-div one">
		           		   <div class="div lg-lable">
		   
		           		   		<input type="text"  [ngClass]="{'is-invalid':registeruserForm.get('phone')?.touched && registeruserForm.get('phone')?.invalid}" formControlName="phone"  id="phone"  class="input form-control-lgin" placeholder="nukber phone">
		           		   </div>
		           		</div>
		           		<div class="input-div one">
		           		   <div class="div lg-lable">

		           		    	<input type="password"  [ngClass]="{'is-invalid':registeruserForm.get('password')?.touched && registeruserForm.get('password')?.invalid}"  formControlName="password"  id="password" class="input form-control-lgin" placeholder="password" >
		            	   </div>
		            	</div>
		            	<div class="input-div one">
		           		   <div class="div lg-lable">
		           		    
		           		    	<input type="address" [ngClass]="{'is-invalid':registeruserForm.get('address')?.touched && registeruserForm.get('address')?.invalid}"  formControlName="address" id="address"  class="input form-control-lgin" placeholder="address">
		            	   </div>
		            	</div>
						  <div class="form-group d-block frm-text">
						    <a href="#" class="fg-login d-inline-block"></a>
						    <a  class="fg-login float-right d-inline-block"[routerLink]="['/login-user']" routerLinkActive="" >Bạn đã có tài khoản? Đăng Nhập</a>
						  </div>
						  <button type="submit" class="btn btn-primary float-right btn-login d-block w-100"(click)="saveuser()">Đăng Ký</button>
						<div class="form-group d-block w-100 mt-5">
							<div class="text-or text-center">
								<span>Hoặc</span>
							</div>

							<div class="row">
								<div class="col-sm-6 col-12 pr-7">
									<button class="btn btn-secondary btn-login-facebook btnw w-100 float-left">
									<i class="fa fa-facebook" aria-hidden="true"></i>
									<span>Đăng nhập bằng Facebook</span>
							</button>
								</div>
								<div class="col-sm-6 col-12 pl-7">
									<button class="btn btn-secondary btn-login-google btnw w-100 float-left">
									<i class="fa fa-google" aria-hidden="true"></i>
									<span>Đăng nhập bằng Google</span>
								</button>
								</div>
							</div>
						</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<!-- (end) login main -->
	</div>
</div>
<footer class="login-footer">
		<div class="w-login m-auto">
			<div class="row">
				<!-- login footer left -->
				<div class="col-md-6 col-sm-12 col-12 login-footer-left">
					<div class="login-copyright">
						<p>Copyright © 2020 <a href="#"> TechJobs</a>. All Rights Reserved.</p>
					</div>
				</div>
				<!-- login footer right -->
				<div class="col-md-6 col-sm-12 col-12 login-footer-right">
					<ul>
						<li><a href="#">Terms & Conditions</a></li>
						<li><a href="#">Privacy Policy</a></li>
					</ul>
				</div>
			</div>
		</div>
	</footer>